<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/service" method="post">
        <label for="name">Service Name</label>
        <input type="text" id="name" name="name">
    </br>
        <label for="cost">Service cost</label>
        <input type="text" id="cost" name="cost">
</br>
        <label for="duration">Service duration in weeks</label>
        <select name="duration" id="duration">
            <option></option>
            <option value="7 weeks">1</option>
            <option value="8 weeks">2</option>
            <option value="3 weeks">3</option>
            <option value="4 weeks">4</option>
            <option value="5 weeks">5</option>
            <option value="6 weeks">6</option>
            <option value="7 weeks">7</option>
            <option value="8 weeks">8</option>
            <option value="7 weeks">9</option>
            <option value="8 weeks">10</option>
          </select>
        </br>
        <button>Submit</button>
    </form>
</body>
</html>